body{
    margin: 0;
}

.logo{
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav{
    position: fixed;
    background-color: white;
    display: flex;
    top: 0;
    z-index: 1;
    align-items: center;
    width: 100vw;
    height: 9vh;
}

nav img{
    height: 45px;
}

.midnav{
    display: flex;
    height: 100%;
    width: 72%;
    align-items: center;
}

.rightnav{
    width: 19%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navcont{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navcont div{
    right: 0;
}

.rightnav .navcont{
    width: 25%;
    align-items: center;
}

.navcont i{
    font-size: 21px;
}

.midnav .navcont div:first-child{
    color: gray;
}

.midnav .navcont:nth-child(5) div{
    color: #3d93fa;
}

.rightnav .navcont div:first-child{
    color: #3d93fa;
}

.rightnav .navcont div:nth-child(2){
    color: gray;
}

.maincontent{
    min-height: 91vh;
    margin-top: 9vh;
    display: flex;
}

.sidebar{
    /*position: fixed;*/
    /*margin-top: 9%;*/
    width: 9%;
    /*height: 100%;*/
    border-top-right-radius: 50px;
    background-color: #3d93fa;
}

.dynamiccont{
    height: 100%;
    width: 91%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #e6e7f4;
}

.somecont{
    min-height: 91vh;
    margin: 30px;
}

.whitcont{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    padding: 10px;
    display: flex;
}

.whiteleftside{
    width: 27%;
}

.whiterightside{
    width: 73%;
    padding: 10px;
}

.contlabel{
    color: #3d93fa;
    font-size: xxx-large;
    margin-bottom: 10px;
}

.mt10{
    margin-top: 10px;
}

input,select{
    height: 50px;
    border-radius: 8px;
}

input:disabled {
    cursor:not-allowed;
}

.red{
    color: red;
}

.form-control{
    border-radius: 1rem;
}

label{
    color: gray;
}


.address-card-container , .familycontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9vh;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.45);
}

.address-card ,.familycontainer-card{
    width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.addcard{
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 10px #00000024;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addcard td{
    vertical-align: middle;
}

/*.checkbox-custom {*/
/*    margin-top: 10px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    font-size: 22px;*/
/*}*/

/*!* Increase the size of checkboxes with a specific class *!*/
/*.checkbox-custom-size {*/
/*    width: 22px;*/
/*    height: 22px;*/
/*}*/

/*!* Optional: Increase the size of the checkmark inside the checkbox *!*/
/*.checkbox-custom-size:checked {*/
/*    transform: scale(1.5);*/
/*}*/

.image-card {
    display: flex;
    max-width: 100%;
    padding-top: 20px;
}

.outside-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #aaa;
    width: 130px;
    height: 130px;
}

.preview-next {
    margin-left: 20px;
}

.preview-text {
    color: #aaaaaa;
}

.image-input {
    position: relative;
    width: 25vw;
}

.btn-browse {
    position: absolute;
    right: 15px;
    top: 69%;
    transform: translateY(-50%);
}

.btn-upload {
    position: absolute;
    left: 470px;
    bottom: 6px;
}
